
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}

<h1>BlogTitleListExcel</h1>

<a href="/Admin/Blog/ExportDinamicExcelBlogList" class="btn btn-primary">İndir</a>